<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap"
    rel="stylesheet">

<header class="experiencefragment">
    <div class="root container responsivegrid">
        <div class="cmp-experiencefragment--header">
            <div class="cmp-container">
                <!-- Logo -->
                <div class="image">
                    <a class="cmp-navigation__item-link" href="http://localhost:4502/editor.html/content/geeksdemo/home.html">
                        <img src="/content/dam/geeksdemo/logo.png" alt="Logo">
                    </a>

                </div>

                <!-- Navegação -->
                <nav class="navigation">
                    <ul class="cmp-navigation__group">
                        <li class="cmp-navigation__item cmp-navigation__item--level-0">
                            <a class="cmp-navigation__item-link" href="http://localhost:4502/editor.html/content/geeksdemo/home/about-us.html">About Us</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-0">
                            <a class="cmp-navigation__item-link" href="http://localhost:4502/editor.html/content/geeksdemo/home/careers.html">Careers</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-0">
                            <a class="cmp-navigation__item-link" href="http://localhost:4502/editor.html/content/geeksdemo/home/blog.html">Blog</a>
                        </li>
                    </ul>
                </nav>

                <!-- Botão -->
                <div class="button">
                    <a href="http://localhost:4502/editor.html/content/geeksdemo/home/contact.html">Contact</a>
                </div>
            </div>
        </div>
    </div>
</header>
